<!DOCTYPE html>
{% load static %} 
<html>
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
</head>
<body>
  <div style="display: flex; flex-direction: row;">
    <div>
      <nav style="background-color: rgba(51, 97, 137, 1); width: 274px; padding-top: 32px; height: 1835px;">
        <span style="color: rgba(228, 241, 255, 1); font-size: 32px; font-weight: 500; margin: 31px 97px 32px 84px;">Меню</span>
        <ul style="margin: 31px 0px 0px 0px; list-style: none; display: flex; flex-direction: column; height: 329px; justify-content: space-between; padding-left: 23px;">
          <li><a href="/" style="font-size: 24px; font-weight: 400;  text-decoration: none; color:rgba(228, 241, 255, 1);">Главная</a></li>
          <li><a href="/all/" style="font-size: 24px; font-weight: 400; text-decoration: none; color:rgba(228, 241, 255, 1);">Статистика</a></li>
          <li><a href="/trends/" style="font-size: 24px; font-weight: 400; text-decoration: none;  color:rgba(228, 241, 255, 1);">Востребованность</a></li>
          <li><a href="{% url 'geography' %}" style="font-size: 24px; font-weight: 400; text-decoration: none; color:rgba(228, 241, 255, 1);">География</a></li>
          <li><a href="{% url 'abilitys' %}" style="font-size: 24px; font-weight: 400; text-decoration: none; color:rgba(228, 241, 255, 1);">Навыки</a></li>
          <li><a href="{% url 'real_vac' %}" style="font-size: 24px; font-weight: 400; text-decoration: none; color:rgba(228, 241, 255, 1);">Последние вакансии</a></li>
        </ul>
      </nav>
    </div>
    <div style="display: flex; flex-direction: column;">
      <header style="background-color: rgba(233, 149, 65, 1); padding: 0px 40px; margin: 0px;">
        <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
          <img src ="{% static 'img/logo.png' %}" alt="логотип" width="60px" height="55px"/>    
          <h1 style="color: rgba(51, 97, 137, 1); font-size: 40px; font-weight: 700;">QA analytics</h1>
        </div>
      </header>
      <main style="background-color: rgba(228, 241, 255, 1);">
        <h2 style="color: rgba(51, 97, 137, 1); margin: 19px 342px; font-size: 32px; font-weight: 600;">Чем занимается тестировщик</h2>
        <p style="padding: 0px; color: rgba(224, 137, 51, 1); font-size: 24px; font-weight: 500; margin: 0px 100px 17px 27px">
            Тестировщик программного обеспечения (QA-инженер) обеспечивает качество и функциональность программных продуктов. В частности:
        </p>
        <div style="display: flex; ">
          <ul style="color: rgba(51, 97, 137, 1); font-size: 18px; font-weight: 400; margin: 0px 38px 17px 27px; width: 723px; padding-left: 20px;">
            <li>разрабатывает и поддерживает тестовую документацию, включая тест-планы и тест-кейсы;</li>
            <li>проводит функциональное и нефункциональное тестирование, проверяя, соответствует ли ПО заявленным требованиям и спецификациям;</li>
            <li>выявляет баги и дефекты, фиксирует их в трекинговой системе и отслеживает их статус до полного устранения;</li>
            <li>проводит регрессионное тестирование, чтобы убедиться, что исправленные баги не повлияли на другие части системы;</li>
            <li>участвует в разработке автоматизированных тестов для повышения эффективности тестирования и уменьшения ручной работы;</li>
            <li>тесно сотрудничает с разработчиками, проджект-менеджерами и другими членами команды для обсуждения и устранения найденных дефектов;</li>
            <li>анализирует и оценивает требования к ПО на этапе планирования для выявления возможных рисков и проблем;</li>
            <li>проводит нагрузочное тестирование для оценки производительности системы при высоких нагрузках и выявления узких мест;</li>
            <li>участвует в подготовке и проведении демо-презентаций и релизов продуктов;</li>
            <li>поддерживает актуальность тестовой документации и создаёт отчёты по результатам тестирования для предоставления руководству и команде;</li>
            <li>обучает новых сотрудников и делится знаниями с коллегами для повышения общей компетенции команды.</li>
          </ul>
          <img src="{% static 'img/main1.png' %}" alt="картинка QA-инженера" height="208px" style="align-self: center; margin-right: 27px;"/>
        </div> 
        <p style="padding: 0px; color: rgba(224, 137, 51, 1); font-size: 24px; font-weight: 500; margin: 0px 30px 94px 27px">
            Эти задачи обычно распределяются между членами команды в зависимости от специализации и уровня опыта. Например, автоматизация тестов может быть поручена отдельному специалисту, в то время как ручное тестирование выполняется другими членами команды.
        </p>
        <h2 style="color: rgba(51, 97, 137, 1); margin: 0px 350px; margin-bottom: 10px; font-size: 32px; font-weight: 600;">Где работают тестировщики</h2>
        <p style="padding: 0px; color: rgba(224, 137, 51, 1); font-size: 24px; font-weight: 500; margin: 0px 30px 0px 27px">
            Во-первых, в компаниях-разработчиках ПО, которые создают собственные продукты или работают по заказу клиентов.
        </p>
        <p style="padding: 0px; color: rgba(224, 137, 51, 1); font-size: 24px; font-weight: 500; margin: 0px 30px 0px 27px">
            Во-вторых, в IT-отделах крупных компаний, где тестирование является неотъемлемой частью процесса разработки внутренних систем и приложений.
        </p>
        <p style="padding: 0px; color: rgba(224, 137, 51, 1); font-size: 24px; font-weight: 500; margin: 0px 30px 0px 27px">
            Кроме того, тестировщики могут работать в консалтинговых фирмах, предоставляющих услуги по тестированию на аутсорсинг, а также на фрилансе, выполняя разовые проекты для различных клиентов.
        </p>
        <img src="{% static 'img/main2.png' %}" alt="картинка QA-инженера" height="284px" style="margin: 33px 34px 89px 27px"/>
        <h2 style="color: rgba(51, 97, 137, 1); margin: 0px 250px; font-size: 32px; font-weight: 600;">Что должен знать будущий тестировщик</h2>
        <p style="padding: 0px; color: rgba(224, 137, 51, 1); font-size: 24px; font-weight: 500; margin: 10px 30px 10px 27px">
            Чтобы стать востребованным специалистом, начинающему тестировщику нужно изучить:
        </p>
        <ul style="color: rgba(51, 97, 137, 1); font-size: 18px; font-weight: 400; margin: 0px 30px 18px 27px;">
            <li>методологии тестирования, такие как Agile, Scrum, Kanban;</li>
            <li>принципы и виды тестирования: функциональное, регрессионное, нагрузочное, интеграционное, системное и т.д.;</li>
            <li>инструменты для автоматизации тестирования, такие как Selenium, TestComplete, JUnit, TestNG;</li>
            <li>языки программирования, используемые для написания тестов, например, Python, Java, JavaScript;</li>
            <li>системы управления тестированием и багтрекеры, такие как Jira, TestRail, Bugzilla;</li>
            <li>основы работы с базами данных и SQL для проверки корректности данных;</li>
            <li>основы работы с системами контроля версий, такими как Git и GitHub, для отслеживания изменений в коде и тестах;</li>
            <li>разработка и выполнение тестовых сценариев на различных уровнях (модульное, интеграционное, системное тестирование);</li>
            <li>анализ и интерпретация результатов тестирования, а также составление отчетов о тестировании и дефектах;</li>
            <li>технический английский язык, чтобы читать документацию, писать отчёты и общаться с международными командами.</li>
        </ul>
      </main>
      <footer style="background-color: rgba(233, 149, 65, 1); padding: 18px 19px 17px 0px; margin: 0px;">
        <div style="text-align: end; color: rgba(51, 97, 137, 1)">
          <div style="font-size: 20px; font-weight: 500;">Яковлева Александра Витальевна</div>
          <div style="font-size: 20px; font-weight: 500;">Группа: РИ-230931</div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>