<!DOCTYPE html>
{% load static %} 
<html>
<head>
  <meta charset="UTF-8">
  <title>Навыки</title>
</head>
<body style="margin: 0px;"> 
  <div style="display: flex; flex-direction: row;">
    <div>
      <nav style="background-color: rgba(140, 162, 115, 1); width: 274px; padding-top: 32px; height: 1430px;">
        <span style="color: rgba(254, 247, 232, 1); font-size: 32px; font-weight: 500; margin: 31px 97px 32px 84px;">Меню</span>
        <ul style="margin: 31px 0px 0px 0px; list-style: none; display: flex; flex-direction: column; height: 329px; justify-content: space-between; padding-left: 23px;">
          <li><a href="/" style="font-size: 24px; font-weight: 400;  text-decoration: none; color:rgba(254, 247, 232, 1);">Главная</a></li>
          <li><a href="/all/" style="font-size: 24px; font-weight: 400; text-decoration: none; color:rgba(254, 247, 232, 1);">Статистика</a></li>
          <li><a href="/trends/" style="font-size: 24px; font-weight: 400; text-decoration: none;  color:rgba(254, 247, 232, 1);">Востребованность</a></li>
          <li><a href="{% url 'geography' %}" style="font-size: 24px; font-weight: 400; text-decoration: none; color:rgba(254, 247, 232, 1);">География</a></li>
          <li><a href="{% url 'abilitys' %}" style="font-size: 24px; font-weight: 400; text-decoration: none; color:rgba(254, 247, 232, 1);">Навыки</a></li>
        </ul>
      </nav>
    </div>
    <div style="display: flex; flex-direction: column;">
      <header style="background-color: rgba(241, 169, 183, 1); padding: 0px 40px; margin: 0px;">
        <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
          <img src ="{% static 'img/logo.png' %}" alt="логотип" width="60px" height="55px"/>    
          <h1 style="color: rgba(192, 63, 104, 1); font-size: 48px; font-weight: 700;">QA analytics</h1>
        </div>
      </header>
      <main style="background-color: rgba(254, 247, 232, 1)">
        <h1 style="color: rgba(140, 162, 115, 1); margin: 24px 608px; font-size: 44px; font-weight: 500;">Навыки</h1>
        {% for skill in skills_analysis %}
        <div style="display: flex; flex-direction: column;">
          <h2 style="color: rgba(192, 63, 104, 1); margin: 37px auto 22px 84px; font-size: 32px; font-weight: 600;">ТОП-20 навыков</h2>
          <div style="display: flex; flex-direction: column;">
              <img src="{{ skill.skill_chart.url }}" alt="ТОП-20 навыков" width="700px" height="500px" style="margin-left: 64px;">
              <div style="margin-left: 30px;">
                {{ skill.data | safe }}      
              </div>               
          </div>
        </div>  
        {% endfor %}
      </main>
      <footer style="background-color: rgba(241, 169, 183, 1); padding: 18px 19px 17px 0px; margin: 0px;">
        <div style="text-align: end; color: rgba(192, 63, 104, 1)">
          <div style="font-size: 20px; font-weight: 500;">Яковлева Александра Витальевна</div>
          <div style="font-size: 20px; font-weight: 500;">Группа: РИ-230931</div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>